In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [35]:
df=pd.read_csv(r"C:\Users\vishnu\Desktop\Covid_Data_new - Covid_Data_new.csv")

In [36]:
df.head()

,age,body_temperature,chronic_disease,breathing_issue,Blood O2 Level in Percentage,Needed Hospitalization
0,10.0,Normal,no,no,97.0,No
1,12.0,Normal,no,no,97.0,No
2,15.0,Normal,no,no,94.0,No
3,10.0,Normal,no,no,97.0,No
4,13.0,Moderate,no,no,94.0,No

In [37]:
df.shape

(70, 6)

In [38]:
df.isnull().sum()

age                             1
body_temperature                0
chronic_disease                 0
breathing_issue                 0
Blood O2 Level in Percentage    1
Needed Hospitalization          0
dtype: int64

In [39]:
df.describe()

             age  Blood O2 Level in Percentage
count  69.000000                     69.000000
mean   45.130435                     82.072464
std    24.223781                     11.702587
min    10.000000                     53.000000
25%    25.000000                     72.000000
50%    42.000000                     86.000000
75%    62.000000                     92.000000
max    94.000000                     99.000000

In [40]:
df["age"].fillna(df["age"].mean())

0     10.0
1     12.0
2     15.0
3     10.0
4     13.0
      ...
65    86.0
66    61.0
67    94.0
68    81.0
69    76.0
Name: age, Length: 70, dtype: float64

In [41]:
df["age"].fillna(df["Blood O2 Level in Percentage"].mean())

0     10.0
1     12.0
2     15.0
3     10.0
4     13.0
      ...
65    86.0
66    61.0
67    94.0
68    81.0
69    76.0
Name: age, Length: 70, dtype: float64

In [60]:
df.isnull().sum()

age                             1
body_temperature                0
chronic_disease                 0
breathing_issue                 0
Blood O2 Level in Percentage    1
Needed Hospitalization          0
dtype: int64

In [61]:
miss_value=df.dropna()
print(miss_value)

     age body_temperature chronic_disease breathing_issue  \
0   10.0           Normal              no              no
1   12.0           Normal              no              no
2   15.0           Normal              no              no
3   10.0           Normal              no              no
4   13.0         Moderate              no              no
..   ...              ...             ...             ...
65  86.0             High              no             yes
66  61.0         Moderate              no             yes
67  94.0             High             yes             yes
68  81.0             High             yes             yes
69  76.0             High             yes             yes

    Blood O2 Level in Percentage Needed Hospitalization
0                           97.0                     No
1                           97.0                     No
2                           94.0                     No
3                           97.0                     No
4                           94.0                     No
..                           ...                    ...
65                          76.0                    Yes
66                          90.0                     No
67                          64.0                    Yes
68                          75.0                    Yes
69                          80.0                    Yes

[68 rows x 6 columns]

dropping all the values  whenever there any missing values

In [62]:
train=miss_value[0:42]
test=miss_value[42:]
test.shape

(26, 6)

In [63]:
train.shape

(42, 6)

In [66]:
xx_train=train.drop("Needed Hospitalization",axis= 1)
yy_train=train["Needed Hospitalization"]
xx_test=test.drop("Needed Hospitalization",axis= 1)
yy_test=test["Needed Hospitalization"]

In [87]:
x_train=pd.get_dummies(xx_train)
x_test=pd.get_dummies(xx_test)

In [98]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_train = le.fit_transform(yy_train)
y_test = le.fit_transform(yy_test)

In [99]:
print(y_train)

[0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1
 0 1 1 1 1]

In [100]:
from sklearn.linear_model import LogisticRegression

In [101]:
logreg=LogisticRegression()
logreg.fit(x_train,y_train)

LogisticRegression()

In [102]:
print(y_test)

[1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1]

In [103]:
pred=logreg.predict(x_test)

In [104]:
print(pred)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [105]:
logreg.score(x_test,y_test)

0.8846153846153846

In [106]:
logreg.score(x_train,y_train)

1.0